# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment folders
venv/
env/
.venv/

# =====================
# Outputs & Logs
# =====================
logs/
log/
*.err
*.out

# =====================
# Compressed & Archive Files
# =====================
*.zip
*.tar.gz
*.tar
*.rar
*.7z

# =====================
# System Files
# =====================
.DS_Store
Thumbs.db
ehthumbs.db
Icon?

# =====================
# ckpits
# =====================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =====================
# Temporary Files
# =====================
*.tmp
*.bak
*.swp
*.pid

# =====================
# Git LFS (Optional)
# =====================
# If you use git-lfs, ignore pointer files in specific cases
# *.gitattributes
